@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HarmonyHub.Data.Models

@model SongFormModel

@{
    ViewData["Title"] = "Add Song";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> names = new List< string>();
    List<int> ids = new List<int>();
    foreach (var artist in Model.AllArtists)
    {
        names.Add(artist.FirstName + " " + artist.LastName);
        ids.Add(artist.Id);
    }
}
<link href="~/css/sidebar.css" rel="stylesheet" />

<header>
    <partial name="~/Views/Shared/_SideBarPartial.cshtml"/>
</header>

<h2>@ViewData["Title"]</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Name">Song name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Artists">Artist name</label>
        <select asp-for="Artists" class="form-control" asp-items="new SelectList(names, ids)"></select>
    </div>
    <div class="form-group">
        <label asp-for="AudioStorageFile.FilePath">Audio file adress</label>
        <input asp-for="AudioStorageFile.FilePath" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CoverStorageFile.FilePath">cover file adress</label>
        <input asp-for="CoverStorageFile.FilePath" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
