@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HarmonyHub.Data.Models

@model SongFormModel

@{
    ViewData["Title"] = "Add Song";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var TypeOptions = Model.AllArtists
                     .Select(i => new SelectListItem
                             {
                                 Value = i.Id.ToString(),
                                 Text = i.FirstName + " " + i.LastName
                             }).ToList();
}
<link href="~/css/sidebar.css" rel="stylesheet" />

<header>
    <partial name="~/Views/Shared/_SideBarPartial.cshtml"/>
</header>

<div class="add-song-container">
    <div class="image-container">
        <img src="~/static/add-song.jpg" alt="cover" />
    </div>
    <div class="form-container">
        <h2>@ViewData["Title"]</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Song name</label>
                <input asp-for="Name" class="add-song-form-control" />
                <div class="underline"></div>
            </div>
            <div class="form-group">
                <label asp-for="Artists">Artist name(s)</label>
                    @* @Html.DropDownListFor(m => m.Artists, TypeOptions, "Select one") *@
                <select asp-for="ArtistFormIds" multiple asp-items="TypeOptions" class="add-song-form-control drowp-down">
                </select>

            </div>
            <div class="form-group">
                <label asp-for="AudioStorageFile.FilePath">Audio file adress</label>
                <input asp-for="AudioStorageFile.FilePath" class="add-song-form-control" />
                <div class="underline"></div>

            </div>
            <div class="form-group">
                <label asp-for="CoverStorageFile.FilePath">cover file adress</label>
                <input asp-for="CoverStorageFile.FilePath" class="add-song-form-control" />
                <div class="underline"></div>

            </div>

            <button type="submit" class="btn">Create</button>
        </form>
    </div>
</div>
