@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using HarmonyHub.Data.Models

@model SongFormModel

@{
    ViewData["Title"] = "Add Song";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var TypeOptions = Model.AllArtists
                     .Select(i => new SelectListItem
                             {
                                 Value = i.Id.ToString(),
                                 Text = i.FirstName + " " + i.LastName
                             }).ToList();
}
<link href="~/css/sidebar.css" rel="stylesheet" />

<partial name="~/Views/Shared/_SideBarPartial.cshtml" />


<div class="add-song-container">
    <div class="image-container">
        <img src="~/static/add-song.jpg" alt="cover" />
    </div>
    <div class="form-container" >
        <h1 style="align-self:center;">@ViewData["Title"]</h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Name">Song name</label>
                <input asp-for="Name" class="form-control-obj" />
                <div class="underline"></div>
                <span asp-validation-for="Name" class="validation"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artists">Artist name(s)</label>
                <select asp-for="ArtistFormIds" multiple asp-items="TypeOptions" class="form-control-obj drowp-down">
                </select>
                <span asp-validation-for="AllArtists" class="validation"></span>
            </div>

            <div style="margin-top:10px;">
				<label>Audio file</label>
				<input name="audio-file" type="file" class="form-control bg-black text-white border-dark" />
            </div>

            <div>
                <label>Cover file</label>
                <input name="cover-file" type="file" class="form-control bg-black text-white border-dark" />
            </div>

            <button type="submit" class="form-btn">Create</button>
        </form>
    </div>
</div>

<script>
    window.onload = function() {
        document.getElementById("main-sidebar").style.width = "250px";
    };
</script>
