@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link href="~/css/sidebar.css" rel="stylesheet" />
    <partial name="~/Views/Shared/_ProfileSideBarPartial.cshtml" />
</header>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="email-container">
    <div class="logo-form">
        <img src="~/static/Logo-highres.png" />
    </div>
    <div class="row email-form">
        <div class="col-md-6 form-container">
            <form id="email-form" method="post">
                <h1 style="align-self:center;">Manage Email</h1>
                <div asp-validation-summary="All" class="validation" role="alert"></div>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="form-group mb-3 input-group">
                        <label asp-for="Email">Your current email</label>
                        <input asp-for="Email" class="form-control-obj" disabled />
                    </div>
                }
                else
                {
                    <div class="form-group mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control-obj" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    </div>
                }
                <div class="form-group mb-3">
                    <label asp-for="Input.NewEmail"></label>
                    <input asp-for="Input.NewEmail" class="form-control-obj" autocomplete="email" aria-required="true"/>
                    <div class="underline"></div>
                    <span asp-validation-for="Input.NewEmail" class="validation"></span>
                </div>
                <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 form-btn">Change email</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
