@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div class="confirm-container">
    <div class="logo-form">
        <img src="~/static/Logo-highres.png" />
    </div>
    <div class="row confirm-form">
        <div class="col-md-6 form-container">
            <form>
                <h1 style="align-self:center;">@ViewData["Title"]</h1>
                <p>
                    Thank you for confirming your email.
                </p>
            </form>
                <button class="w-100 form-btn" onclick="location.href='@Url.Page("Login")'">
                    Redirect to login page
                </button>
        </div>
    </div>
</div>

