<audio id="cs_audio" controls>
  <source src="assets/roll_on-noisy_oyster_CLIP.mp3" type="audio/mpeg">
</audio>


<div id="cs_audioplayer">

  <span class="cs_left_time">
    <span id="cs_audio_current_time">0:0</span>
  </span>

  <span class="cs_track_info">
    <span>
      <img id="track-cover" src="~/static/ali.jpg" alt="">
    </span>
    <span id="track-name">song name</span>
  </span>

  <span class="cs_btns">
    <span id="cs_play_pause_btn">
      <img src="~/static/prev.png" alt="">
    </span>

    <span id="cs_play_pause_btn">
        <i class="far fa-play-circle" id="cs_audio_play"></i>
        <i class="far fa-pause-circle" id="cs_audio_pause"></i>
    </span>

    <span id="cs_play_pause_btn">
      <img class="cs_next_track" src="~/static/prev.png" alt="">
    </span>
  </span>


  <div class="cs_audio_bar">
      <div class="cs_audio_bar_now"></div>
      <div class="cs_audio_bar_loaded"></div>
  </div>

</div>


