<div id= "main-sidebar" class="sidebar">
	<div class="logo">
		<a href="/">
			<img src="~/static/logo.png" alt="Logo" />
		</a>
	</div>

	<div class="navigation">
		<ul>
			<li>
				<a href="/">
					<span class="fa fa-home"></span>
					<span>Home</span>
				</a>
			</li>

			<li>
				<form id="search" asp-action="Index" asp-controller="Search" method="get">
					<a href="#" onclick="search_submit()">
						<span class="fa fa-search"></span>
					</a>
						<span>
							<input id="search-box" class="sidebar-search" type="text" name="query" placeholder="Search"/>					</span>
				</form>
			</li>
		</ul>
	</div>
</div>