<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/sidebar.css" />
	<title>Landing</title>
</head>
<body>
	
	<partial name="_SideBarPartial.cshtml" />

	<main role="main" class="pb-3">
		@RenderBody()
	</main>



	<script src="https://kit.fontawesome.com/23cecef777.js" crossorigin="anonymous"></script>
</body>
</html>
